{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} NYT Spelling Bee Solutions {% endblock %}</h1>
    <h3> The solutions are: </h3>
    <div>
        {% for answer in answers %}
        
            <ul style="line-height:0.1;">
                <li> {{ answer }} </li>
            </ul>
        
        {% endfor %}
    </div>
        
    <p>
    </p>

    <h3> The pangrams are: </h3>
    <div>
        {% for pangram in pangrams %}
        
            <ul style="line-height:0.1;">
                <li> {{ pangram }} </li>
            </ul>
        
        {% endfor %}
    </div>
    
    <p>
    </p>

    <h3> The highest possible score is: {{ score }}</h3>

    <p>
    </p>

    <h3> Other possible words that were not included by NYT as solutions include: </h3>
    <div>
        {% for word in possible_words %}
        
            <ul style="line-height:0.1;">
                <li> {{ word }} </li>
            </ul>
        
        {% endfor %}
    </div>
    

{% endblock %}
